/* MAXIMO WITH DISPOSITIVO */
@media all {

	.grid {
		height: 20em;
	}

	.grid--red {
		background-color: #f30;
	}
	.grid--green {
		background-color: #0b3;
	}
	.grid--blue {
		background-color: #03b;
	}

}