* {
	box-sizing: border-box;
}
body {
	font-family: Arial;
	font-size: 16px;
}
#grand--container {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* TODOS LOS DISPOSITIVOS */
@media all {
	.row {
		padding-left: 15px;
		padding-right: 15px;
		display: table;
		width: 100%;
	}
	.col {
		display: table-cell;
	}
	.col.right {
		text-align: right;
	}
	.col.left {
		text-align: left;
	}

	/* COMPONENTE - NAV HOME */
	.nav-home {
		padding-top: 8px;
		padding-bottom: 8px;
		background-color: #343a40;
	}

	.nav-home .nav-home__menu-item {
		color: #fff;
		text-decoration: none;
		margin-right: 15px;
	}

	.nav-home .nav-home__menu-item--red {
		color: #f30;
		text-decoration: none;
		margin-right: 15px;
	}

	.form-item {
		position: relative;
	}
	.form-item__search, .form-item__search-btn {
		height: 35px;
		border: 0px;
		border-radius: 5px;
	}
	.form-item__search {
		width: 200px;
		padding-left: 1em;
		margin-right: 5px;
	}
	.form-item__search-btn {
		border: 1px solid #0b3;
		background-color: transparent;
		color: #0b3;
		height: 36px;
	}

	/* FLAG CLASSES */
	.disabled {
		opacity: 0.5;
	}
}

/* NETBOOK */
@media (max-width: 1024px){

}