@media all {
	* {
		box-sizing: border-box;
	}

	body {
		font-size: 16px;
		font-family: Arial, sans-serif;
	}

	#main {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	/* GRIDING */
	.row {
		display: table;
	}
	.col {
		display: table-cell;
	}
	.layout--center {
		text-align: center;
	}
	.row--colorized {
		background-color: #ccc;
	}
	.box--center {
		display: inline-table;
		margin: 0 auto;
		width: 1024px;
		/*min-height: 100vh;*/
		text-align: initial;
	}
	.col--left {
		text-align: left;
	}
	.col--center {
		text-align: center;
	}
	.col-half {
		width: 50%;
	}
	.col-third {
		width: 33.33333%;
	}
	.row--full {
		width: 100%;
	}
	.row--grey {
		background-color: #333;
	}

	/* COMPONENT NAV */
	.nav-home {
		background-color: #fff;
		width: 100%;
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.nav-home .col img {
		width: 120px;
	}

	/* COMPONENT SLIDER */
	.slider-home {
		background-image: url(assets/banner-wall.jpg);
		background-size: cover;
		min-height: 350px;
		width: 100%;
	}
	.slider-home .slider-home__txt {
		color: #fff;
	}
}

/* MOBILE HORIZONTAL */
@media (min-width: 568px) and (max-width: 812px){
	body { 
		font-size: 12px;
	}
	.box--center {
		display: block;
		width: 100%;
	}
	.row--grey {
		display: none;
	}
	.col img {
		width: 100%;
	}
	.col--left:first-child {
		padding-left: 1em;
	} 
	.col--left:last-child {
		text-align: right;
		padding-right: 1em;
	}
}
/* MOBILE VERTICAL */
@media (max-width: 567px){
	body { 
		font-size: 12px;
	}
	.row {
		width: 100%;
	}
	.col {
		width: 100%;
		display: block;
		text-align: center;
	}
	.col img {
		width: 100%;
	}
	.box--center {
		display: block;
		width: 100%;
	}
}